@use '../../../../../variables.scss';

.carousel {
  padding: 0 2.5rem;
  &__list {
    display: flex;
    overflow-x: scroll;
    gap: .8rem;
    scroll-behavior: smooth;
    padding: 0 0 1rem;
    list-style: none;
    @extend .app-scrollbar--alt !optional;
    &--empty {
      height: 5rem;
      overflow-x: auto;
      display: grid;
      place-items: center;
      .empty-text {
        opacity: 0.8;
      }
    }
  }
  &__item {
    padding: 0;
    list-style: none;
    scroll-snap-align: start;
  }

  .slide-button {
    position: absolute;
    top: 40%;
    z-index: 50;
    &--left {
      left: -45px;
    }
    &--right {
      right: -45px;
    }
  }
}

.carousel__body {
  position: relative;
}


.disabled {
  scrollbar-width: none;
  .carousel__list {
    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
    &::-webkit-scrollbar-track {
      background-color: transparent;
    }
  }
}
