.media-search {

  &__title {
    margin: 0;
    text-align: center;
    font-size: .8rem;
    margin-bottom: .2rem;
  }

  &__value {
    display: inline-block;
    background-color: rgba(var(--primary-color-value), 0.4);
    padding: 0 1rem;
    border-radius: 1rem;
  }

  &__header {
    display: flex;
    justify-content: space-between;
  }
}

.loader {
  margin: 4rem auto;
}


.empty-list {
  display: flex;
  gap: .5rem;
  align-items: center;
  margin: 3rem 0;
  opacity: 0.8;
  background-color: rgba(var(--error-color-value), 0.5);
  padding: .5rem 1rem;
  border-radius: 2rem;
}
