<section class="media-search">
  <!-- <mat-tab-group>
    <mat-tab label="First">
      @if (loading) {
          <app-card-skeleton *appRepeat="8"/>
      } @else {
        @for (media of movies; track media.id) {
          <a [routerLink]="[ '/' + popularMediaType, media.id]" class="card-link">
            <app-media-card [data]="media.getMediaCardData()"></app-media-card>
          </a>
        }
    </mat-tab>
    <mat-tab label="Second">

    </mat-tab>
    <mat-tab label="Third">

    </mat-tab>
  </mat-tab-group> -->
</section>

