<section class="container">
  <div class="profile">
    @if (data.profilePath) {
      <img [src]="data.profilePath" alt="profile" class="profile__img">
    }
    @else {
      <div class="profile-placeholder">
        <mat-icon class="profile-placeholder__icon">image</mat-icon>
      </div>
    }
  </div>
  <section class="info">
    <header class="info__header">
      <h2 class="info__title">{{ data.name }}</h2>
    </header>
    <p class="info__copy">
      {{ data.biography }}
    </p>
  </section>
</section>
