<mat-toolbar class="app-header mat-elevation-z6">
  <mat-toolbar-row class="app-header__main">
    <button type="button" mat-icon-button class="example-icon" aria-label="Menu icon" (click)="sideNavToggle.emit()">
      <mat-icon>menu</mat-icon>
    </button>
    <a class="app-title" href="/">
      <img class="app-icon" src="favicon.ico" alt="app icon">
      <span>{{ title }}</span>
    </a>
    <div class="options">
      <mat-form-field appearance="outline" class="language-selector" matError>
        <mat-select [(value)]="selectedLanguage" [panelWidth]="'10rem'">
          <mat-option *ngFor="let option of languages" [value]="option.value" (click)="goToLang(option.url)">
            {{ option.viewValue }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <button matRipple type="button" class="search-button" (click)="searchBarToggle.emit()" #searchButton>
        <mat-icon color="primary">search</mat-icon>
        <span class="search-button__label" i18n="Search button text@@btnSearchTxt">SEARCH</span>
      </button>
    </div>
  </mat-toolbar-row>
</mat-toolbar>
