<mat-drawer-container class="app-layout" autosize>
  <mat-drawer #mainDrawer class="main-sidenav" mode="over">
    <div class="main-sidenav__header">
      <button type="button" mat-icon-button color="warn" class="close-button" (click)="mainDrawer.toggle()">
        <mat-icon>close</mat-icon>
      </button>
    </div>
  </mat-drawer>

  <mat-drawer-content class="app-content">
    <app-search-bar #searchBar></app-search-bar>
    <app-header (sideNavToggle)="mainDrawer.toggle()" (searchBarToggle)="searchBar.toggle()"></app-header>
    <main class="main">
      <div>
        @for (media of trending; track media.id) {
          <p>
            {{ media.title }}
          </p>
        }
      </div>
        <router-outlet />
    </main>
    <app-footer></app-footer>
  </mat-drawer-content>

</mat-drawer-container>





