.media-card {
  width: 250px;
  background-color: transparent;
  cursor: pointer;
  padding: .4rem;
  transition: background-color 0.2s;
  box-shadow: none;
  &__title {
    font-size: 1rem;
    height: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  &:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }

  &__image {
    border-radius: inherit;
  }
  &__content {
    position: relative;
    &:last-child {
      padding: 0 0 0 4px;
    }
    height: 2rem;
  }
  &__type {
    position: absolute;
    opacity: 0.9;
    right: 5px;
    top: calc(-100% - 5px);
  }
}
