<section class="container">
  <app-carousel [disabled]="loadingTrending">
    <app-carousel-header listTitle="Trending" contentLink="#">
      <mat-button-toggle-group class="media-type-toggle" name="trendingMediaType" aria-label="Media Type" #mediaTypeToggle="matButtonToggleGroup" [value]="trendingMediaType" [(ngModel)]="trendingMediaType" (ngModelChange)="getTrendingMedia(trendingMediaType, selectedTimeWindow)">
        @for (mediaType of mediaTypes; track mediaType.value) {
          <mat-button-toggle class="media-type-toggle__item" [value]="mediaType.value">{{ mediaType.viewValue }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
      <mat-button-toggle-group class="time-window-toggle" name="mediaTimeWindow" aria-label="Time Window" #mediaTypeToggle="matButtonToggleGroup" [value]="selectedTimeWindow" [(ngModel)]="selectedTimeWindow" (ngModelChange)="getTrendingMedia(trendingMediaType, selectedTimeWindow)">
        @for (timeWindow of timeWindows; track timeWindow.value) {
          <mat-button-toggle class="media-type-toggle__item" [value]="timeWindow.value">{{ timeWindow.viewValue }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </app-carousel-header>
    @if (loadingTrending) {
      <app-carousel-item *appRepeat="8">
        <app-card-skeleton />
      </app-carousel-item>
    } @else {
      @for (media of trending; track media.id) {
        <app-carousel-item>
          <a [routerLink]="[ '/' + trendingMediaType, media.id]" class="card-link">
            <app-media-card [data]="media.getMediaCardData()"></app-media-card>
          </a>
        </app-carousel-item>
      }
    }
  </app-carousel>

  <app-carousel [disabled]="loadingPopular">
    <app-carousel-header listTitle="What's popular" contentLink="#">
      <mat-button-toggle-group class="media-type-toggle" name="popularMediaType" aria-label="Media Type" #mediaTypeToggle="matButtonToggleGroup" [value]="popularMediaType" [(ngModel)]="popularMediaType" (ngModelChange)="getPopularMedia(popularMediaType)">
        @for (mediaType of mediaTypes; track mediaType.value) {
          <mat-button-toggle class="media-type-toggle__item" [value]="mediaType.value">{{ mediaType.viewValue }}</mat-button-toggle>
        }
      </mat-button-toggle-group>
    </app-carousel-header>
    @if (loadingPopular) {
      <app-carousel-item *appRepeat="8">
        <app-card-skeleton />
      </app-carousel-item>
    } @else {
      @for (media of popular; track media.id) {
        <app-carousel-item>
          <a [routerLink]="[ '/' + popularMediaType, media.id]" class="card-link">
            <app-media-card [data]="media.getMediaCardData()"></app-media-card>
          </a>
        </app-carousel-item>
      }
    }
  </app-carousel>
</section>
