/* You can add global styles to this file, and also import other style files */
@import url('./theme.scss');

html, body { height: 100vh;}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif;

}

:root {
  background-color: var(--main-color);
  color: var(--text-color);
  font-size: 100%;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 1rem;
}

.card-link {
  text-decoration: none;
  color: inherit;
}
