@use '@angular/material' as mat;
@use './variables.scss';


@include mat.core();

$c-primary: mat.define-palette(mat.$light-blue-palette, 800);
$c-accent: mat.define-palette(mat.$purple-palette, A700);
$c-warn: mat.define-palette(mat.$red-palette, 700);

$c-primary-alt: mat.define-palette(mat.$indigo-palette, 900);
$c-accent-alt: mat.define-palette(mat.$purple-palette, A700);
$c-warn-alt: mat.define-palette(mat.$red-palette, 700);

$movie-app-theme: mat.define-dark-theme((
  color: (
    primary: $c-primary,
    accent: $c-accent,
    warn: $c-warn
  ),
  typography: mat.define-typography-config(),
  density: 0
));

$movie-app-theme-alt: mat.define-dark-theme((
  color: (
    primary: $c-primary-alt,
    accent: $c-accent-alt,
    warn: $c-warn-alt
  ),
  typography: mat.define-typography-config(),
  density: 0
));


$primary-default: mat.get-theme-color($movie-app-theme, primary, default);

@include mat.core-theme($movie-app-theme);
@include mat.button-theme($movie-app-theme);
@include mat.icon-button-theme($movie-app-theme);
@include mat.fab-theme($movie-app-theme);
@include mat.form-field-theme($movie-app-theme);
@include mat.icon-theme($movie-app-theme);
@include mat.toolbar-theme($movie-app-theme-alt);
@include mat.chips-theme($movie-app-theme);
@include mat.progress-bar-theme($movie-app-theme);
