<section class="container">

  <div class="poster">
  @if (data.posterPath) {
    <img [src]="data.posterPath" alt="poster" class="poster__img elevation-3">
  }
  @else {
    <div class="poster-placeholder">
      <mat-icon class="poster-placeholder__icon">image</mat-icon>
    </div>
  }
  </div>

  <section class="info">
    <header class="info__header">
      <div class="info__header-top">
        <h2 class="info__title">{{ data.title }}</h2>
        <div class="rating">
          <mat-icon class="rating__icon">star</mat-icon>
          <span>{{ data.voteAverage | number: '1.0-2' }}</span>
        </div>
      </div>
      <app-media-type-chip [mediaType]="data.mediaType" class="info__type"/>
      <span class="info__release">{{ data.release | date: 'MMMM d, y' }}</span>
      @if (introVideo) {
        <div class="trailer">
          <button class="trailer-button" mat-button (click)="openVideoViewer()">
            <mat-icon class="trailer-button__icon">play_arrow</mat-icon>
            <span class="trailer-button__text">Trailer</span>
          </button>
        </div>
      }
      <i class="info__tagline">{{ data.tagline }}</i>
    </header>
    <p>{{ data.overview }}</p>
    <footer class="info__footer">
      <div class="genres">
        @for (genre of data.genres; track genre.id) {
          <button matRipple (click)="goToMovies(genre.id)" class="genres__link">{{ genre.name | uppercase }}</button>
        }
      </div>
    </footer>
  </section>
</section>
