<section class="gallery">
  <app-carousel [disabled]="false">
    <app-carousel-header listTitle="Gallery">
      <mat-button-toggle-group class="type-selector" aria-label="Gallery type"
         [value]="selectedGalleryType"
        [(ngModel)]="selectedGalleryType"
      >
        @for (type of galleryTypes; track type.value) {
          <mat-button-toggle class="type-selector__item" [value]="type.value">
            {{ type.viewValue }}
          </mat-button-toggle>
        }
      </mat-button-toggle-group>
    </app-carousel-header>

    @if (loadingImages || loadingVideos) {
      <app-carousel-item *appRepeat="8">
        <app-skeleton height="250" width="300"></app-skeleton>
      </app-carousel-item>
    } @else {
      @if (selectedGalleryType === 'backdrop') {
        @for (resource of backdrops.slice(0, 20); track resource.filePath) {
          <app-carousel-item>
            <div class="gallery-item">
              <img [src]="getImageUri(resource.filePath, 500)" alt="image" class="gallery-item__image" (click)="openImageViewer(resource.filePath)">
            </div>
          </app-carousel-item>
        }
      }
      @else if (selectedGalleryType === 'poster') {
        @for (resource of posters.slice(0, 20); track resource.filePath) {
          <app-carousel-item class="gallery-item">
            <div class="gallery-item">
              <img [src]="getImageUri(resource.filePath)" alt="image" class="gallery-item__image" (click)="openImageViewer(resource.filePath)">
            </div>
          </app-carousel-item>
        }
      }
      @else if (selectedGalleryType === 'video') {
        @for (resource of videos.slice(0, 20); track resource.id) {
          <app-carousel-item>
            <div class="gallery-item gallery-item--video" (click)="openVideoViewer(resource.key, resource.name)">
              <div [ngStyle]="{'--thumbnail-url': 'url(' + getImageUri(resource.key) + ')'}" class="gallery-item__thumbnail">
                <div class="gallery-item__icon">
                  <mat-icon>play_arrow</mat-icon>
                </div>
              </div>
            </div>
          </app-carousel-item>
        }
      }
    }
  </app-carousel>
</section>

